<head>
  <title>PROFILE</title>
</head>

<h1><p style="text-align: center;">MY PROFILE</h1></p>
<hr colour="DodgerBlue" size="5"/>
<h2><p style="text-align: center;">CONTENT</h2></p>
<body>
<b><p style="text-align: center;">* HOBBIES</b><br></p>
<b><p style="text-align: center;">* ACTIVITIES</b><br></p>
<b><p style="text-align: center;">* SKILLS</b><br></p>
</body>
<hr colour="DodgerBlue" size="5"/>
<h2><p style="text-align: center;">HOBBIES</h2></p>
<h3><p style="text-align: center;">My hobbies are as following:</p></h3>
<ul>
    <p style="text-align: center;">* Playing Basketball <br></p>
    <p style="text-align: center;">* Reading Books<br></p>
    <p style="text-align: center;">* Swimming <br></p>
</ul>
<hr colour="DodgerBlue" size="5"/>
<h2><p style="text-align: center;">Skills</h2></p>
<h3><p style="text-align: center;">My skills are as following:</p></h3>
<ul>
    <p style="text-align: center;">* coding <br></p>
    <p style="text-align: center;">* baking<br></p>
    <p style="text-align: center;">* cooking<br></p>
</ul>
